* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #785D4C;
    background-image: url(background1.png);
}


.Logo {
    width: 100%;
}

.Karla {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}

div .Logo {
    width: 150px;
}
.Main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D8CFC2;
    align-items: center;
    height: 120px;
}

Nav {
    width: 70vw;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

a {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 20px;
    text-decoration: none;
    /* font-weight: bold; */
    /* border: solid 10px bold; */
    /* font-family: 'Space Grotesk', sans-serif;  <-- font from jessica hernandez (possible may use) */
}

.hero {
    background-image: url(ParkGuell.jpg);
    /* background-image: url(parkguellrock.jpg); */
    /* background-image: url(purpleflowers.jpg); */
    /* width: 100%;
    height: 200vh; */
    /* width: 100%; */
    height: 70vh;
    /* background-size: 100vw 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom:100px;
    margin-top: 100px;
}

.content {
    /* width: fit-content; */
    padding: 2em;
    font-size: 3em;
}

.hero p {
    background-color: rgba(96, 97, 75, 0.603);
}


h2 {
    font-size: 50px;
    display: flex;
    margin-left: 40px;
}
h1 {
    font-size: 50px;
    font-family: 'Marvel';
    display: flex;
    justify-content: center;

}


h2 {
    font-family: 'Marvel';
    display: flex;
    justify-content: center;
}
.intro p {
    font-family: 'Marvel';
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;  
}

div.about {
    font-family: 'Marvel';
    font-size: 20px;
    margin-left: 70px;
    margin-right: 60px;
}

div.karla.image.folklorico {
    margin-left: 200px;
    background-size: cover;
    width: 500%;
    justify-content: center;
    /* background-size: 100vw 70vh; */
    /* width: 90%;
    height: 60vh; */
}

div.cart {
    font-family: 'Marvel';
    font-size: 20px;
    margin-left: 70px;
    margin-right: 50px;
}

.Web {
    font-family: 'Marvel';
    font-size: 30px;
}
/* About Me */

.four  {
    font-family: 'Marvel';
    margin-left: 70px;
    font-size: 20px;
    margin-right: 50px;

}
/* Resume */

.Education h2 {
    margin-left: -1700px; 
    font-family: 'Marvel';
}

.first {
    font-family: 'Marvel';
    font-size: 20px;
    margin-left: 80px;
}

.second {
    font-family: 'Marvel';
    font-size: 20px;
    margin-left: 80px;
}

.Languages h2 {
    margin-left: -1700px;
    font-family: 'Marvel';
}

.one {
    font-family: 'Marvel';
    font-size: 20px;
    margin-left: 80px;
}

.CommunityService h2 {
    margin-left: -1700px;
    font-family: 'Marvel';
}

.Community {
    margin-left: 80px;
    font-size: 20px;
    font-family: 'Marvel';
}

.Certificates h2{
    margin-left: -1700px;
    font-family: 'Marvel';
}

.Award {
    font-family: 'Marvel';
    margin-left: 80px;
    font-size: 20px;
}


.Extracurricular h2 {
    margin-left: -1700px;
    font-family: 'Marvel';
}

.Activites {
    font-family: 'Marvel';
    margin-left: 80px;
    font-size: 20px;
}

.Skills h2 {
    font-family: 'Marvel';
    margin-left: -1700px;
}

.skills1 {
    font-family: 'Marvel';
    margin-left: 80px;
    font-size: 20px;
}

.Hobbies h2 {
    font-family: 'Marvel';
    margin-left: -1700px;
}

.hobbies1 {
    font-family: 'Marvel';
    margin-left: 80px;
    font-size: 20px;
}

.ending {
    font-family: 'Marvel';
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* Portfolio */
.delvehomes {
    display: flex;
}

.SocialIssues {
    display: flex;
}

.Line-Up {
    display: flex;
}

.CashBank {
    display: flex;
}

.essay {
    font-family: 'Marvel', sans-serif;
    font-size: 30px;
}

.poster {
    font-family: 'Marvel',sans-serif;
    font-size: 30px;
}

.Picture {
    font-family: 'Marvel', sans-serif;
    font-size: 30px;
}


/* Contact */


.Contact p {
    font-size: 20px;
    font-family: 'Marvel';
    margin-left: 80px;
}
/* footer */

footer {
 background-color: #D8CFC2;
}

.pad {
    padding: 3.2vw;
    font-family: 'Marvel', sans-serif;
    display: flex;
    justify-content: space-between;
   
}

.email {
    font-weight: bold;
}

.phone {
    font-weight: bold;
}

.ABE {
    font-weight: bold;
}

/* .ABE {
    display: flex;
    justify-content: space-between;
} */