* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #785D4C;
    background-image: url(background1.png);
}


.Logo {
    width: 100%;
}

.Karla {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
}

div .Logo {
    width: 150px;
}
.Main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D8CFC2;
    align-items: center;
    height: 120px;
}

Nav {
    width: 70vw;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}

a {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 20px;
    text-decoration: none;
    /* font-weight: bold; */
    /* border: solid 10px bold; */
    /* font-family: 'Space Grotesk', sans-serif;  <-- font from jessica hernandez (possible may use) */
}

.hero {
    /* background-image: url(ParkGuell.jpg); */
    /* background-image: url(parkguellrock.jpg); */
    /* background-image: url(purpleflowers.jpg); */
    /* width: 100%;
    height: 200vh; */
    width: 100%;
    height: 70vh;
    background-size: 100vw 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-bottom:100px; */
}

.content {
    /* width: fit-content; */
    padding: 2em;
    font-size: 5em;
}

.hero p {
    background-color: rgba(204, 156, 232, 0.814);
}


h2 {
    font-size: 50px;
    display: flex;
    margin-left: 40px;
}
h1 {
    font-size: 50px;
    font-family: 'Marvel', sans-serif;
    display: flex;
    justify-content: center;

}

.intro p {
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;  
}

div.about {
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 60px;
}

div.karla.image.folklorico {
    margin-left: 200px;

    width: 500%;
    justify-content: center;
    /* background-size: 100vw 70vh; */
    /* width: 90%;
    height: 60vh; */
}

div.cart {
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
    margin-left: 70px;
    margin-right: 50px;
}

